@import url(colors.css);
@import url(fonts.css);
@import url(icons.css);

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  direction: rtl;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  /* fonts */
  font-family: var(--theme-primary-font);
  font-weight: 400; /* Regular */

  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
