/* start header section */
header {
  position: relative;
}

.login header img {
  width: 100%;
}

ul.buttons {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  border: thin solid var(--green);
  border-radius: 10px;
  width: 185px;
  display: flex;
  align-items: center;
  align-content: center;
}

.button label {
  width: 66%;
  height: 40px;
  border-left: thin solid var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.button i {
  width: 34%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gold);
}
/**
    Landing Page
*/

header .main {
  background: var(--green);
  height: 40px;
}

header .main a,
header .main span {
  color: white;
  text-decoration: none;
}

header .main .left-data-wrapper,
header .main .right-data-wrapper {
  display: flex;
  align-items: center;
}

header .main .left-data-wrapper {
  justify-content: flex-end;
}

header .main .right-data-wrapper {
  justify-content: flex-start;
}

header .main .left-data-wrapper > *:after {
  content: "|";
  margin-right: 10px;
}

header .main .left-data-wrapper > *:last-child:after {
  display: none;
}

header .sub .row > div {
  display: flex;
}

.sub {
  height: 100px;
  border-bottom: thin solid var(--gold);
  box-shadow: 0 0 12px silver;
}

header .sub ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .sub ul.action {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: left;
}
.action li {
  margin: 0px 0.8rem;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.menu-icon {
  font-size: 1.3rem;
  font-weight: 900;
}
.row-count {
  position: relative;
}
.count {
  background-color: red;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: -7px;
  min-width: 0.9rem;
  min-height: 0.9rem;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
}
.logo-wrapper {
  margin: 0 auto;
  height: 60px;
  height: 100px;
  padding: 15px;
  margin-left: auto;
  margin-right: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-wrapper .logo {
  max-width: 100px;
}

.logo-wrapper img {
  height: 100%;
  width: 200px !important;
}

/* end header section */

/* start footer section */
.site-footer {
  position: relative;
  margin-top: 2.5rem;
}
@media screen and (min-width: 992px) {
  .site-footer {
    margin-top: 5.625rem;
  }
}
.site-footer .footer-row.border-full {
  border-top: 1px solid;
}
.site-footer .footer-row.border-boxed .footer-inner {
  border-top: 1px solid;
}
.site-footer .footer-row.dark {
  color: var(--color-text-primary);
  border-color: rgba(0, 0, 0, 0.1);
}
.site-footer .footer-row.dark .footer-inner {
  border-color: rgba(0, 0, 0, 0.1);
}
.site-footer .footer-row.dark .custom-column {
  border-left-color: rgba(0, 0, 0, 0.1) !important;
}
.site-footer .footer-row.dark .sub-banners ul li + li {
  border-top-color: rgba(0, 0, 0, 0.1);
  border-right-color: rgba(0, 0, 0, 0.1);
}
.site-footer .footer-row.light {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.15);
}
.site-footer .footer-row.light .footer-inner {
  border-color: rgba(255, 255, 255, 0.15);
}
.site-footer .footer-row.light .custom-column {
  border-left-color: rgba(255, 255, 255, 0.15) !important;
}
.site-footer .footer-row.light .sub-banners ul li + li {
  border-top-color: rgba(255, 255, 255, 0.15);
  border-right-color: rgba(255, 255, 255, 0.15);
}
.site-footer .footer-row.custom-background-light {
  background-color: #f6f7f9;
}
.site-footer .footer-row.custom-background-dark {
  background-color: #212529;
}
.site-footer .tsr-newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 992px) {
  .site-footer .tsr-newsletter {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  .site-footer .tsr-newsletter .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .site-footer .tsr-newsletter .column:nth-child(1) {
    padding-left: 1.25rem;
  }
  .site-footer .tsr-newsletter .column:nth-child(2) {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 1.25rem;
  }
}
.site-footer .tsr-newsletter .tsr-newsletter-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.site-footer .tsr-newsletter .tsr-newsletter-text .text-icon {
  display: none;
  font-size: 3.75rem;
  line-height: 1.1;
  color: var(--color-text-light);
  margin-left: 0.9375rem;
}
@media screen and (min-width: 992px) {
  .site-footer .tsr-newsletter .tsr-newsletter-text .text-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 3.75rem;
    line-height: 1.1;
    margin-left: 1.875rem;
  }
}
.site-footer .tsr-newsletter .tsr-newsletter-text .text-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.site-footer .tsr-newsletter .tsr-newsletter-text .text-body .entry-subtitle {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 0.625rem;
}
.site-footer .tsr-newsletter .tsr-newsletter-text .text-body .entry-title {
  font-size: 1.375rem;
  line-height: normal;
  font-weight: 600;
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 992px) {
  .site-footer .tsr-newsletter .tsr-newsletter-text .text-body .entry-title {
    font-size: 1.625rem;
    line-height: normal;
  }
}
.site-footer
  .tsr-newsletter
  .tsr-newsletter-text
  .text-body
  .entry-description {
  font-size: 0.875rem;
  max-width: 360px;
  color: var(--color-text-description);
}
.site-footer .tsr-newsletter .tsr-newsletter-form form {
  position: relative;
}
@media screen and (min-width: 992px) {
  .site-footer .tsr-newsletter .tsr-newsletter-form form {
    max-width: 480px;
  }
}
.site-footer .tsr-newsletter .tsr-newsletter-form form input {
  height: 3.25rem;
}
.site-footer .tsr-newsletter .tsr-newsletter-form form button {
  position: absolute;
  font-size: 0.875rem;
  height: 2.75rem;
  top: 4px;
  left: 4px;
  border-radius: var(--theme-theme-radius-small);
}
.site-footer .tsr-newsletter .tsr-newsletter-form .privacy-policy {
  display: block;
  font-size: 0.75rem;
  margin-top: 0.75rem;
}
.site-footer .tsr-newsletter .tsr-newsletter-form .privacy-policy a {
  font-weight: 500;
  text-decoration: underline;
  color: var(--color-primary);
}
.site-footer .footer-widgets .footer-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 992px) {
  .site-footer .footer-widgets .footer-sidebar {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.site-footer .footer-widgets .footer-sidebar > * {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}
@media screen and (min-width: 992px) {
  .site-footer .footer-widgets .footer-sidebar > *.custom-column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 380px;
    flex: 0 0 380px;
    max-width: 380px;
    border-left: 1px solid;
    padding-left: 2.5rem;
  }
}
.site-footer
  .footer-widgets
  .footer-sidebar
  > *.custom-column
  + .widgets-column {
  margin-top: 1.25rem;
}
@media screen and (min-width: 992px) {
  .site-footer
    .footer-widgets
    .footer-sidebar
    > *.custom-column
    + .widgets-column {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 0;
    padding-right: 4.6875rem;
  }
}
@media screen and (max-width: 991.98px) {
  .site-footer .footer-widgets .footer-sidebar .widgets-column .widget {
    margin-bottom: 1.875rem;
  }
}
.site-footer .subfooter .sub-banners ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-footer .subfooter .sub-banners ul li {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 600;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media screen and (min-width: 992px) {
  .site-footer .subfooter .sub-banners ul li {
    width: auto;
  }
}
.site-footer .subfooter .sub-banners ul li + li {
  border-top: 1px solid;
}
@media screen and (min-width: 992px) {
  .site-footer .subfooter .sub-banners ul li + li {
    border-top: 0;
    border-right: 1px solid;
    padding-right: 1.875rem;
    margin-right: 1.875rem;
  }
}
.site-footer .footer-copyright .footer-inner {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 992px) {
  .site-footer .footer-copyright .footer-inner {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}
.site-footer .footer-copyright .copyright-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .site-footer .footer-copyright .copyright-row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .site-footer .footer-copyright .copyright-row:nth-child(3) {
    margin-top: 1.875rem !important;
  }
}
.site-footer .footer-copyright .copyright-row + .copyright-row {
  margin-top: 0.3125rem;
}
.site-footer .footer-copyright .copyright-row .column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  .site-footer .footer-copyright .copyright-row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
  }
  .site-footer .footer-copyright .copyright-row .column:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
.site-footer .footer-copyright .footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-footer .footer-copyright .footer-menu ul li {
  margin-left: 1.25rem;
}
.site-footer .footer-copyright .footer-menu ul li:last-child {
  margin-left: 0;
}
.site-footer .footer-copyright .footer-menu ul li a {
  font-size: 0.8125rem;
  line-height: normal;
  font-weight: 500;
  color: currentColor;
}
.site-footer .footer-copyright .footer-menu ul li a:hover {
  text-decoration: underline;
}
.site-footer .footer-copyright .site-copyright {
  font-size: 0.8125rem;
  line-height: normal;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 992px) {
  .site-footer .footer-copyright .site-copyright {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.site-footer .footer-copyright .site-copyright p {
  opacity: 0.5;
  margin-bottom: 0;
}
.site-footer .footer-copyright .site-copyright p a {
  font-weight: 600;
  color: currentColor;
}
.site-footer .footer-copyright .mobile-app-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1.875rem;
}
@media screen and (min-width: 992px) {
  .site-footer .footer-copyright .mobile-app-content {
    margin-top: 0;
  }
}
.site-footer .footer-copyright .mobile-app-content span {
  font-size: 0.8125rem;
  line-height: normal;
  font-weight: 600;
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 992px) {
  .site-footer .footer-copyright .mobile-app-content span {
    margin-left: 0.625rem;
    margin-bottom: 0;
  }
}
.widget {
  margin-bottom: 2.5rem;
}
.widget:last-child {
  margin-bottom: 0;
}
.widget .widget-title {
  font-size: 0.9375rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}
.widget_contact .company-phone {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.9375rem;
}
@media screen and (min-width: 992px) {
  .widget_contact .company-phone {
    font-size: 1.5rem;
  }
}
.widget_contact .company-works {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.9375rem;
}
.widget_contact .company-works p {
  margin-bottom: 0;
  opacity: 0.6;
}
.widget_contact .company-mail {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-primary);
}
.widget_contact .company-mail:hover {
  text-decoration: underline;
}
.site-brand {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.site-brand a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: currentColor;
  text-decoration: none;
}
.site-brand .logo-text {
  font-size: 2rem;
  font-weight: 700;
}
.widget_about_company .company-logo {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 992px) {
  .widget_about_company .company-logo {
    margin-bottom: 1.875rem;
  }
}
.widget_about_company .company-logo img {
  height: 2.375rem;
}
.widget_about_company .company-logo img {
  height: 2.375rem;
}
.widget_about_company .company-content .entry-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 992px) {
  .widget_about_company .company-content .entry-title {
    font-size: 1.125rem;
    margin-bottom: 0.9375rem;
  }
}
.widget_about_company .company-content .entry-description {
  font-size: 0.875rem;
}
.widget_about_company .company-content .entry-description p {
  opacity: 0.6;
}
.widget_about_company .company-content a {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-primary);
}
.widget_about_company .company-content a:hover {
  text-decoration: underline;
}
.widget_nav_menu ul li a {
  font-size: 0.875rem;
  color: currentColor;
}
.widget_nav_menu ul li a:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: var(--color-primary);
}
.widget_nav_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* end footer section */
